node_modules/
dist/

.env
.env.local

backend/.env
backend/venv/
backend/**/__pycache__/
**/*.pyc

backend.zip
garments-pos_clean/
garments-pos_clean1.zip
mobile_app.zip
mobile_app/

backend-express/
backend/Microsoft/
backend/app.zip
mobile_app (2).zip